.footer{
	background: #2C2C2C;
	height: 100px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: #fff;
	&__created{}
}

.magwai-link {
	@extend %link-clicker;
	position: relative;
	&:hover{
		color: transparent;
		text-decoration: none;
		&:after{
			transform: scale(1);
		}
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: auto;
		border-radius: 5px;
		margin-top: -20px;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		background: $url-magwai-logo no-repeat center/100% 100%;

		transform: scale(0);
		transition: transform 0.2s;
	}
}