@charset "utf-8";
.breadcrumbs{
	@media print {
		display: none;
	}
	&__list{
		padding: 10px 0 50px;
	}
	&__item{
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		color: grey;
		font-size: 12px;
		a{
			@extend %link-clicker;
			display: inline-block;
			transition: color 0.2s;
			&:hover{
				color: red;
			}
		}
		span,
		a{
			// &:before{
			// 	content: '› ';
			// 	margin: 0 0.2em 0 0.2em;
			// 	display: inline-block;
			// }
			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: (5 / 12) * 1em;
				height: (5 / 12) * 1em;
				border-right: (1 / 12) * 1em solid grey;
				border-top: (1 / 12) * 1em solid grey;
				transform: rotate(45deg);
				margin: 0 0.4em 0 0.2em;
			}
		}
		span{}
		&:first-child{
			span,
			a{
				&:before{
					display: none;
				}
			}
		}
	}
}