@charset "utf-8";
.pagination{
	text-align: center;
	user-select: none;
	font-size: 0;
	margin-bottom: 57px;
	&__item{
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		line-height: 30px;
		color: grey;
		font-size: 15px;
		a,span{
			display: block;
			width: 30px;
		}
		span, &.active{
			cursor: default;
		}
		a{
			@extend %link-clicker;
			&:hover{
				color: red;
			}
		}
		&.active{
			color: black;
		}
	}
}