mixin footer
	footer(block="footer")
		.wrap
			.row
				.col
					-var currentYear = (DATE.getYear() - 100 + 2000)
					div(elem="copyright") © #{currentYear} «Company»
				.col.text-md-center
					div(block="b-soc")
						div(elem="inner")
							each icon in ['vk','fb','tw','ok','inst','yt']
								a(elem="item" href=href mod=icon)
									+svg('soc-'+icon)
				.col.text-md-right
					div(elem="created") Разработка сайта 
						a.magwai-link(href="//magwai.ru" target="_blank" title="Перейти на сайт разработчика") Магвай